.about-pic {
    width: 12rem;
    margin: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.about-flex {
    text-align: center;
}

.a-quote, .quote {
    font-size: 14px;
    margin: 0 0 0 2rem;
}

.foot {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

@media (min-device-width: 250px) 
and (max-device-width: 600px) {
    .a-quote, .quote {
        margin: 0 0 0 0.5rem;
    }
}