/* Grid */

#page-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "head head head"
      "main main aside"
      "foot foot foot";
}

/* Header Styles */

.navbar{
    grid-area: head;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.nav_logo{
    width:140px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    font-family:'Roboto', sans-serif;
    font-size:18px;
    margin: 30px 50px 0 0;
    list-style: none;
}

.nav-a{
    text-decoration: none;
    color: inherit;
}

.nav-a:hover{
    border-bottom: 3px solid #BC4123;
}

#nav_button{
    background-color:#BC4123;
    outline-style: none;
    border: none;
    font-family:'Roboto', sans-serif;
    font-size:18px;
    color:inherit;
    border-radius: 4px;
    height:2.5rem;
    padding:0.5rem;
    box-shadow: 5px;
    cursor: pointer;
}

#nav_button:hover{
    background-color:#d2583a;
}

/* Cards */

main{
    grid-area:main;
}

#main-header{
    font-family:'Roboto', sans-serif;
    font-style: italic;
    margin-left: 6rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #BC4123;
    width:15rem;
}

.main-flex{
    grid-area: main;
    min-width:50rem;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.preview_card{
    margin: 1rem 0 0 2rem;
    width:12rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(255, 255, 255);
    height:15.9375rem;
}

.preview_card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.preview_pic{
    width: 12rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

em .preview_icon{
    width:25px;
    margin-left:3px;
    margin-top:10px;
}

.preview_text{
    color:#11213a;
    font-family:'Roboto', sans-serif;
    font-size:12px;
    margin-left:3px;
    line-height: 20px;
}


/* Footer */

.foot-flex{
    grid-area: foot;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.foot-p{
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    margin-left: 10px;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
    list-style: none;
}

.footer-a{
    text-decoration: none;
    color: inherit;
}

.fa-twitter:hover{
    color:#1DA1F2;
    cursor: pointer;
}

.fa-facebook-f:hover{
    color:#3b5998;
    cursor: pointer;
}

.fa-instagram:hover{
    color:#d6249f;
    cursor: pointer;
}

.fa-youtube:hover{
    color:#FF0000;
    cursor: pointer;
}