.post-flex {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 5rem;
}

.post-head {
    font-size: 1.4rem;
}

.post-pic {
    width: 95%
}

.post-text {
    font-size: 0.6rem;
}

.article-text{
    font-weight: 10%;
    font-size: 0.9rem;
}

.avatar {
    display: inline;
    border-radius: 50%;
    width:4rem;
    margin-right:2rem;
}

.about-post {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 0.5px solid #fff;
}

@media (min-device-width: 250px) 
and (max-device-width: 600px) {
    .post-flex {
        margin-left: 2rem;
    }
}